services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - KNOWLEDGE_BASE_ID
      - BEDROCK_MODEL_ARN

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
